.assignment{
    min-height: 100vh;
    padding: 0 32px;
    &Content{
        padding-left: 296px;
    }
    &MainBox{
        width: 100%;
    }
    &List{
        a{
            color: $secondary;
            text-decoration: none;
        }
        a:hover{
            color: $secondary;
            background-color: #F8F9FA;
        }
    }
    &ListItem{
        width: 320px;
        padding: 12px;
        border: 1px solid $third;
        h4, span, p{
            font-size: $text-xs;
            line-height: 15px;
        }
        h3{
            font-size: $text-base;
            line-height: 19px;
            font-weight: bold;
            margin: 0;
        }
        p{
            color: #6C757D;
        }
    }
    &Active{
        background-color: #F8F9FA;
    }
    &MainHeader{
        padding: 12px 16px;
        border: 1px solid $third;
        h4{
            font-size: $text-xs;
            line-height: 15px;
        }
        h3{
            font-size: $text-base;
            line-height: 19px;
            font-weight: bold;
            margin: 0;
        }
    }
    &Main{
        width: 584px;
        &Body{
            padding: 0 16px;
        }
        &Img{
            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        &User{
            padding: 0 8px;
            p{
                font-size: $text-base;
                line-height: 19px;
                font-weight: bold;
                margin: 0;
                padding-bottom: 4px;
            }
            span{
                font-size: $text-xs;
                line-height: 15px;
                color: #6C757D;
            }
        }
        &Message{
            color: $secondary;
            padding: 16px 0px 0px 48px;
            p{
                font-size: $text-s;
                line-height: 21px;
                margin: 0;
            }
            ul{
                list-style-type: disc;
                margin-bottom: 22px;
            }

        }
    }
}
.zipBtn {
    display: flex;
    align-items: center;
    margin-top: 16px;
    span{
        padding-left: 12px;
        padding-right: 8px;
    }
    a{
        padding: 8px 0;
        padding: 11px 16px 10px 0;
        font-size: $text-base;
        line-height: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #212529;
        background-color: #F8F9FA;
        border: 1px solid #CED4DA;
    }
    a:hover{
        color: #212529;
    }
}
.pageBtn{
    margin-top: 16px;
    margin-bottom: 40px;
    a{
        text-decoration: none;
        color: $black;
    }
    a:hover{
        color: $third;
    }
}